<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a href = "/">home</a>  
    <form action="/newTaskRecord" method = "POST">
            Task Name <input type = "text" name = "taskname"/><br>
            Task due Date <input type = "string" name = "taskduedate"/><br>
            Task Description <input type = "text" name = "taskdesc"/><br>
            <button>submit</button>
    </form>
</body>
</html>